<ion-view title="クーポン" hide-nav-bar="false">

  <ion-content class="padding" scroll="true" has-bouncing="true">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="searchbar.value">
      </label>
      <button class="button button-clear" ng-click="searchbar.value = null">
        キャンセル
      </button>

    </div>
    <ion-refresher pulling-text="更新中" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-slide-box>
      <ion-slide>
    <div class="box list  borderRadius menu">
      <div ng-repeat="menu in menus | orderBy :'id'" class="menuItemBox">
        <div class="col">
          <button ng-click="chooseMenuItem(menu,$index)"
                  class=" menuItem {{menu.icon}} menuButton "
                  ng-class="{ 'selected-class-name': $index == selectedIndex }"
                  style="background:{{menu.color}}; "></button>
          </br>
          <div class="menuFont">{{menu.name}}</div>
        </div>
      </div>
    </div>
      </ion-slide>
      <!--
      <ion-slide>
        <div class="box list  borderRadius menu">
          <div ng-repeat="menu in menus | orderBy :'id'" class="menuItemBox">
            <div class="col">
              <button ng-click="chooseMenuItem(menu,$index)"
                      class=" menuItem {{menu.icon}} menuButton "
                      ng-class="{ 'selected-class-name': $index == selectedIndex }"
                      style="background:{{menu.color}}; "></button>
              </br>
              <div class="menuFont">{{menu.name}}</div>
            </div>
          </div>
        </div>
      </ion-slide>
      -->
    </ion-slide-box>

    <div></div>
    <div ng-repeat="item in items | typeFilter : chosenItem.value | filter:searchbar.value | orderBy :'-id'">
      <a href="#/tab/coupon-detail/{{item._id}}" class=" item item-thumbnail-left cardSize">
        <img class="product_image" src="{{ item.image }}">

        <div style="float:right;margin-top: 2vw">
          <div lang="zh-cn" class="category" ng-if="item.numbers>0">残り{{item.numbers}}</div>
          <div lang="zh-cn" class="category" ng-if="item.numbers<=0">在庫切れ</div>
          <div lang="zh-cn" class="category ion-heart" ng-if="find(item) ">獲得済み</div>
          <br>

          <div class="category">{{averageRate(item)}}{{commentNumbers(item)}}</div>
        </div>
        <ul>
          <li lang="zh-cn" class="productName">{{item.name}}</li>
          <li lang="zh-cn" class="productIntroduction">{{item.productIntroduction}}</li>

          <li lang="zh-cn">
            <div class="discountPrice floatLeft">{{item.discountPrice}}</div>
            <div class="fullPrice  strike-center floatLeft">{{item.fullPrice}}</div>
            <div class="productDate floatRight">{{item.timeLimit|date:'yy年MM月dd日まで'}}</div>
          </li>
        </ul>
      </a>
    </div>
  </ion-content>
</ion-view>
