<ion-view title="<b>设定">
   
    <ion-content has-header="true" ng-controller="MyCtrl" class="padding">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
        </ion-refresher>

            <div class="list">
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password">
                </label>
            </div>
        <button class="button button-full button-positive">设定</button>

    </ion-content>
</ion-view>


