<ion-view title="クーポン" hide-nav-bar="false">

  <ion-content class="padding" scroll="true" has-bouncing="true">
    <div style="margin-bottom: 2vw">
        <select class="selectorStyle" ng-model="selectedType" ng-options="item as item.name for item in typeList"></select>
        <select class="selectorStyle" ng-model="selectedLocation" ng-options="item as item.name for item in locationList"></select>
        <select class="selectorStyle" ng-model="selectedOrder" ng-options="item as item.name for item in orderList"></select>
    </div>

    <ion-refresher pulling-text="更新中" on-refresh="doRefresh()">
    </ion-refresher>

    <div class=" bordLine"  ng-repeat="item in items | typeFilter : chosenItem.value | filter:searchbar.value | orderBy :'-id'">
      <a href="#/tab/coupon-detail/{{item._id}}" class=" item item-thumbnail-left cardSize">
        <img class="product_image" src="{{ item.image }}">

        <div style="float:right;margin-top: 2vw">
          <div lang="zh-cn" class="category" ng-if="item.numbers>0">残り{{item.numbers}}</div>
          <div lang="zh-cn" class="category" ng-if="item.numbers<=0">在庫切れ</div>
          <div lang="zh-cn" class="category ion-heart" ng-if="find(item) ">獲得済み</div>
          <br>

          <div class="category">{{averageRate(item)}}{{commentNumbers(item)}}</div>
        </div>
        <ul>
          <li lang="zh-cn" class="productName">{{item.name}}</li>
          <li lang="zh-cn" class="productIntroduction">{{item.productIntroduction}}</li>

          <li lang="zh-cn">
            <div class="discountPrice floatLeft">{{item.discountPrice}}</div>
            <div class="fullPrice  strike-center floatLeft">{{item.fullPrice}}</div>
            <div class="productDate floatRight">{{item.timeLimit|date:'yy年MM月dd日まで'}}</div>
          </li>
        </ul>
      </a>
    </div>
  </ion-content>
</ion-view>
