<ion-view title="<b>优惠卷">
    <ion-nav-buttons side="left">
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher pulling-text="刷新中" on-refresh="doRefresh()">
        </ion-refresher>

        <div class="list  borderRadius menu">
            <div ng-repeat="menu in menus | orderBy :'id'" class = "floatLeft">
                <div class="col ">
                    <button ng-click = "chooseMenuItem(menu,$index)" class=" menuItem {{menu.icon}} menuButton " ng-class="{ 'selected-class-name': $index == selectedIndex }" style="background:{{menu.color}}"></button></br><div class="font12">{{menu.name}}</div>
                </div>
            </div>
        </div>

        <div class=" bordLine  " collection-repeat="item in items | typeFilter : chosenItem.value | orderBy :'-id'">
            <a href="#/tab/coupon-detail/{{item._id}}" class=" item item-thumbnail-left borderRadius5">
                <img class="product_image" ng-src="{{ item.image }}">
                <div lang="zh-cn" class="category" ng-if="item.numbers>0">剩{{item.numbers}}</div>
                <div lang="zh-cn" class="category" ng-if="item.numbers<=0">没有剩余</div>
                <div lang="zh-cn" class="category ion-heart" ng-if="find(item) ">已领</div>
                <ul>
                    <li  lang="zh-cn" class="productName">{{item.name}}</li>
                    <li  lang="zh-cn" class="productIntroduction">{{item.productIntroduction}}</li>
                    <li  lang="zh-cn">
                        <div class = "discountPrice floatLeft">{{item.discountPrice}}</div>
                        <div class="fullPrice  strike-center floatLeft">{{item.fullPrice}}</div>
                        <div class="productDate floatRight">{{item.timeLimit|date:'至yy年MM月dd日'}}</div>
                    </li>
                </ul>
            </a>
        </div>
    </ion-content>
</ion-view>
