<ion-view title="<b>帐号">
  <ion-content has-header="true" class="padding" ng-show="usernameExist == false" scroll="true" has-bouncing="true">
    <form class="list">
      <label class="item item-input">
        <span class="input-label">ユーザ名</span>
        <input type="text" placeholder="" ng-model="username">
      </label>
      <label class="item item-input">
        <span class="input-label">パスワード</span>
        <input type="password" placeholder="" ng-model="password">
      </label>
    </form>
    <button class="button button-stable button-block" ng-click="register(username,password)">登録</button>
    <button class="button button-stable button-block " ng-click="register(username,password)">ログイン</button>
    <a menu-close="" class="button button-positive button-clear button-block ">Or login with facebook</a>
    <a menu-close="" class="button button-positive button-clear button-block ">Or login with Twitter</a>
    <a menu-close="" class="button button-positive button-clear button-block ">Or create an account</a>
  </ion-content>

  <ion-content has-header="true" class="padding" ng-hide="usernameExist == false">
    <button class="button button-full button-positive">{{username}}ログイン完了！</button>
    <button class="button button-full button-positive" ng-click="logout()">ログアウト</button>
    <a href="#/tab/favoriteList">
      <button class="button button-full button-positive">獲得済みクーポン</button>
    </a>

    <button class="button button-full button-positive" ng-click="toggleRegisterShop()">店舗を登録↓</button>

    <div ng-show="registeredShop.done">
      <label class="item item-input">
        <span class="input-label">会社名</span>
        <input type="text" ng-model="shop.shopName">
      </label>
      <label class="item item-input">
        <span class="input-label">会社カテゴリー</span>
        <input type="text" ng-model="shop.shopCategory">
      </label>
      <label class="item item-input">
        <span class="input-label">会社アドレス</span>
        <input type="text" ng-model="shop.shopAddress">
      </label>
      <label class="item item-input">
        <span class="input-label">聯絡方式</span>
        <input type="text" ng-model="shop.shopContactWay">
      </label>
      <label class="item item-input">
        <span class="input-label">会社営業許可証</span>
        <input ng-change="createShopCertificate()" type="file" ng-model="image.shopCertificate" base-sixty-four-input>
      </label>
      <label class="item item-input">
        <span class="input-label">会社法人身分証</span>

        <form>
          <input ng-change="createUserCertificate()" type="file" ng-model="image.userCertificate" base-sixty-four-input>
        </form>
      </label>
      <button class="button button-full button-positive" ng-click="registerShop()">確認</button>
      <div>
        <div>{{shop}}</div>
  </ion-content>

</ion-view>
