
<ion-navbar *navbar hideBackButton>
  <ion-buttons start>
    <button  (click)="openMenu()">
      tokyo<ion-icon name="ios-arrow-down"></ion-icon>
    </button>
  </ion-buttons>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-buttons end>
    <button>
      <ion-icon name="md-alert"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="product">
  <ion-slides pager style="margin : 0vw 0vw 0vw 0vw; height: 60vw;">
    <ion-slide>

    <ion-row flex-wrap: wrap>
      <ion-col width-20  align="center" *ngFor="let product of products" >
        <button round  primary (click)="openProductDetailsPage(product) ">
          <ion-icon name="add"></ion-icon>
        </button>food
      </ion-col>
    </ion-row>
      </ion-slide>
    <ion-slide>

    </ion-slide>
  </ion-slides>
  <div class="product">


    <ion-list>
      <ion-item *ngFor="let product of products">
        <ion-thumbnail item-left>
          <img src="{{product.picture.thumbnail}}">
        </ion-thumbnail>
        <h2>{{product.name.first}} {{product.name.last}}</h2>
        <p>{{product.email}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
